/*
.tabsStyle{
:global .am-tabs-default-bar-top {
    background-color: red!important;
    !*height: 1.3rem !important;*!
}

}

*/
/*
.am-tabs-default-bar-underline {
    position: absolute;
    border: 2px #ffffff solid;
    transform: translate3d(0, 0, 0);
}*/
